@import './base.css';

body {
  overflow: hidden;
  display: flex;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
